<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Twitter Normalizer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="static/home.js"></script>
	<link rel="stylesheet" href="static/about.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
	<main>
		<h1>Twitter Normalizer</h1>
		<p>The project identifies a significant challenge on X (formerly Twitter), where shorthand notations and acronyms common in tweets often evade traditional text normalization techniques, making content less accessible for visually impaired users who rely on screen readers for straightforward text interpretations. The research aims to develop a tool that converts such colloquial language into descriptions that are easier to understand. This tool will accept input text, like tweets, and output a comprehensible narrative, enhancing accessibility for blind and low vision individuals by bridging the gap between colloquial internet language and clear, descriptive text.</p>
	</main>
</body>
</html>
